[project]
	description = Robinhood Policy Engine
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/fzago-cray
[access "refs/for/refs/*"]
	read = group user/fzago-cray
	push = group user/fzago-cray
	label-Code-Review = -2..+2 group user/fzago-cray
	label-Verified = -1..+1 group user/fzago-cray
	rebase = group user/fzago-cray
	removeReviewer = group user/fzago-cray
	submit = group user/fzago-cray
[access "refs/heads/*"]
	read = group user/fzago-cray
	create = group user/fzago-cray
	push = +force group user/fzago-cray
	pushMerge = group user/fzago-cray
[access "refs/tags/*"]
	push = +force group user/fzago-cray
	pushTag = group user/fzago-cray
	pushSignedTag = group user/fzago-cray
