[project]
	description = Robinhood Policy Engine
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Frank Zago (fzago-cray)
[access "refs/for/refs/*"]
	read = group user/Frank Zago (fzago-cray)
	push = group user/Frank Zago (fzago-cray)
	label-Code-Review = -2..+2 group user/Frank Zago (fzago-cray)
	label-Verified = -1..+1 group user/Frank Zago (fzago-cray)
	rebase = group user/Frank Zago (fzago-cray)
	removeReviewer = group user/Frank Zago (fzago-cray)
	submit = group user/Frank Zago (fzago-cray)
[access "refs/heads/*"]
	read = group user/Frank Zago (fzago-cray)
	create = group user/Frank Zago (fzago-cray)
	push = +force group user/Frank Zago (fzago-cray)
	pushMerge = group user/Frank Zago (fzago-cray)
[access "refs/tags/*"]
	push = +force group user/Frank Zago (fzago-cray)
	pushTag = group user/Frank Zago (fzago-cray)
	pushSignedTag = group user/Frank Zago (fzago-cray)
